<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="../js/vue.js"></script>
</head>
<body>
  <div id="all">
    <fieldset>
      <legend>数组</legend>
      <ol>
        <li v-for="(item,index) in people" :key="index">
          {{index}}-id:{{item.id}}-姓名:{{item.name}}-性别:{{item.sex}}-年龄:{{item.age}}
        </li>
      </ol>
    </fieldset>

    <fieldset>
      <legend>遍历对象</legend>
      <ul>
        <li v-for="(key,value,index) in people1">
          {{key}}-{{value}}-{{index}}
        </li>
      </ul>
    </fieldset>

    
  </div>
  <script>
    //创建实例
    const vm=new Vue({
      //获取ID
      el:'#all',
      //数据对象
      data:{
        people:[
          {id:1,name:'欧阳锋',sex:'男',age:18},
          {id:1,name:'上官老',sex:'女',age:20},
          {id:1,name:'黄浦江',sex:'男',age:22},
          {id:1,name:'天上月',sex:'男',age:19},
        ],
        people1:{
          name:'南宫轩',
          sex:'男',
          age:40
        }
      }
    })
  </script>
</body>
</html>