<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="../js/vue.js"></script>
</head>
<body>
  <div id="wrap">
    <fieldset>
      <legend>数组</legend>
      <ul>
        <li v-for="(item,index) in animal" :key="index">
          {{index}}-id:{{item.id}}-姓名:{{item.name}}-性别:{{item.sex}}-年龄:{{item.age}}-爱好:{{item.like}}
        </li>
      </ul>
    </fieldset>

    <fieldset>
      <legend>遍历对象</legend>
      <ul>
        <li v-for="(key,value,index) in animal1">
          {{key}}-{{value}}-{{index}}
        </li>
      </ul>
    </fieldset>

    
  </div>
  <script>
    //创建实例
    const vm=new Vue({
      //获取ID
      el:'#wrap',
      //数据对象
      data:{
        animal:[
          {id:1,name:'团团',sex:'男',age:18,like:'竹子'},
          {id:1,name:'圆圆',sex:'女',age:20,like:'玩'},
          {id:1,name:'欢欢',sex:'男',age:22,like:'吃'},
          {id:1,name:'蛋蛋',sex:'男',age:19,like:'睡'},
        ],
        animal1:{
          name:'欧阳剑',
          sex:'男',
          age:40,
          like:'打篮球'
        }
      }
    })
  </script>
</body>
</html>